[submodule "HamiltonVisualMethodEditorConfiguration"]
	path = HamiltonVisualMethodEditorConfiguration
	url = https://github.com/Pfizer-BradleyBare/HamiltonVisualMethodEditorConfiguration
[submodule "HamiltonVisualMethodEditorMethod"]
	path = HamiltonVisualMethodEditorMethod
	url = https://github.com/Pfizer-BradleyBare/HamiltonVisualMethodEditorMethod
