*.pyc
*.pyo
~*
CommunicationFolder/*.txt
HamiltonVisualMethodEditorConfiguration
HamiltonVisualMethodEditorMethod
HamiltonVisualMethodEditorWorklists
AutomationBareNecessitiesConfiguration
AutomationBareNecessitiesMethod
Logging
PytomatedLiquidHandling.egg-info
build